DEBUG=1
SECRET_KEY=django-insecure-^mnd@#9mvw(9k5m1u(dd#b93&m8-(f9u)n2!zpje$i0q0s7ud4
DJANGO_ALLOWED_HOSTS=*
SQL_ENGINE=django.db.backends.postgresql_psycopg2
POSTGRES_DB=application_organization
POSTGRES_USER=application_organization
POSTGRES_PASSWORD=vzWQ2_5q]r
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
DATABASE=postgres
TELEGRAM_TOKEN=""

